<html>
    <head>
        <title>
            Contact
        </title>
    </head>
    <body>
        <h1>Welcome to Contact page</h1>
        <p>This is our first page</p>
        <form action="\data" method="POST">
            <input type="text" name="First_Name" placeholder="FirstName" required='required'/>
            <input type="text" name="Last_Name" placeholder="LastName" required='required'/>
            <input type="number" name="Number" placeholder="Number" required='required'/>
            <input type="email" name="email" placeholder="Email" required='required'/>

            <button type="submit">Predict</button>
        </form>
    </body>

</html>